main {
    border-radius: 43px;
background: linear-gradient(145deg, #3f1095, #4b13b1);
box-shadow:  33px 33px 42px #2a0b63,
             -33px -33px 42px #6219e7;
}

header{

}

header img {

}

nav {

}

ul li {
    
}